import { type FunctionComponent } from 'react'

export type {{pascalCase name}}FeatureProperties = {}

export const {{pascalCase name}}Feature: FunctionComponent<
  {{pascalCase name}}FeatureProperties
> = properties => {
  return <h1>{{pascalCase name}}</h1>
}
