import { type FunctionComponent } from 'react'

export type {{pascalCase name}}ComponentProperties = {}

export const {{pascalCase name}}Component: FunctionComponent<
  {{pascalCase name}}ComponentProperties
> = properties => {
  return <h1>{{pascalCase name}}</h1>
}
